$font-family: 'Handlee', cursive;
$font-text: 'Merriweather', serif;

body{
font-family: $font-text;
}
.navbar-brand{
color: white; 
font-size: 25px;
}
.carousel-inner, .carousel-item{
height: 80vh;   
}
.carousel-item img{
height: 80%;
object-fit: cover;
}
.card{
width:100%;
height:100%;
}
.card img{
width: 100%;
height: 300px;
object-fit: cover;
}    
.carousel-caption> h3{
font-family:  $font-family; 
}
.btn-primary {
color: #f5f6fa;    
}
.three-post h5{
color: #636e72; 
font-size: 40px;
font-weight: 900;
}
.three-post .card-body{
align-items: center;
display: flex;
flex-direction: column;
}
